*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: grey;
}
.container,.tellbook{
	margin:300px 100px;
}
/*.text,.tellbook li{
font-size: 30px;
font-weight: 500;
}*/
.text,.text2{
font-size: 30px;
font-weight: 500;
}
